/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
  font-size: 40px;
  letter-spacing: 1px;
}

h2 {
    color: #2f81ce;
font-size: 30px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#F7F7F7;
    color: #333;
}

/* Background image starts BELOW header */
.main-content {
    background-image: url('1000077851.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;

    padding-top: 40px;
    padding-bottom: 40px;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 30px 20px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

/* Main Content */
.container {
    width: 70%;
    max-width: 1200px;
    margin: 10px auto;
}

main {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    min-height: 400px;
}

/* Footer */
footer {
    background-color: #2781ce;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* Mobile */
@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
    }

    main {
        border-radius: 0;
        padding: 30px;
    }

    header {
        padding: 20px;
    }
}
hr.gradient {
  height: 3px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    #2f81ce 0%,  /* start color */
    #ffffff 100%  /* end color (white) */
  );
}
