/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Helvetica, Arial, sans-serif;

background-color: #0e2259;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #ffffff;
    line-height: 1.7;
}

h2 {
    color: #2f81ce;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.7;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.7;
}

p {
    font-size: 20px;
    line-height: 1.7;
}

/* Background image starts BELOW header */
.main-content {
    padding-top: 20px;
    padding-bottom: 0px;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 30px 20px;
    text-align: right;
    border-bottom: 0 solid #ddd;
}

/* Main Content */
.container {
    width: 70%;
    max-width: 1200px;
    margin: 10px auto;
}

.container1 {
    width: 70%;
    max-width: 1200px;
    margin: 10px auto;
    background-color: #ffffff;
}

main {
    padding: 30px;
    border-radius: 8px;
    min-height: 400px;
}

/* Footer */
footer {
    background-color: #2781ce;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 10px;
}

/* Mobile */
@media (max-width: 768px) {
    .container,
    .container1 {
        width: 100%;
        margin: 0;
    }

    main {
        border-radius: 0;
        padding: 30px;
    }

    header {
        padding: 20px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }
}

hr.gradient {
    height: 3px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(
        90deg,
        #2f81ce 0%,
        #e6f3ff 100%
    );
}
